# 1-Delayed Transfers of Care Data 2010-2020

In [1]:
import pandas as pd
import os

folder_path = r"C:\Users\e410675\OneDrive - London South Bank University\LSBU - Jose's Collaborative Projects\Norfolk and Waveney Demand Modelling\New Data\Delayed Transfers of Care Data 2010-2020\By provider organisation level - Trusts"

combined_data = []

for file_name in os.listdir(folder_path):
    if file_name.endswith('.xlsx') or file_name.endswith('.xls'):
        file_path = os.path.join(folder_path, file_name)
        try:
            xls = pd.ExcelFile(file_path)
            # Procurar a folha com nome aproximado
            target_sheet = next((s for s in xls.sheet_names if 'trust - by type of care' in s.lower()), None)
            
            if target_sheet:
                # Ler com cabeçalho na linha 15 (índice 13)
                data = pd.read_excel(file_path, sheet_name=target_sheet, header=13)
                data = data.dropna(how='all')  # Remove linhas completamente vazias
                if not data.empty:
                    data['source file name'] = file_name
                    combined_data.append(data)
            else:
                print(f"Folha 'Trust - by Type of Care' não encontrada em: {file_name}")
        
        except Exception as e:
            print(f"Erro ao processar {file_name}: {e}")

# Concatenar com índice contínuo
if combined_data:
    combined_data = pd.concat(combined_data, axis=0, ignore_index=True)
else:
    combined_data = pd.DataFrame()  # Evita erro se não houver dados

In [2]:
combined_data

,Unnamed: 0,SHA,Code,Name,Acute,Non-Acute,Total,source file name,Area Team,Unnamed: 2,Area Team,Region,Unnamed: 8,Acute.1,Non-Acute.1,Total.1
0,NaN,NaN,NaN,England,55332.0,54586.0,109918.0,Total Delayed Days Trust 2010-08.xls,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Q30,5D7,Newcastle PCT,0.0,260.0,260.0,Total Delayed Days Trust 2010-08.xls,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Q30,5D8,North Tyneside PCT,0.0,0.0,0.0,Total Delayed Days Trust 2010-08.xls,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Q30,5KG,South Tyneside PCT,0.0,0.0,0.0,Total Delayed Days Trust 2010-08.xls,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Q30,5KL,Sunderland Teaching PCT,0.0,0.0,0.0,Total Delayed Days Trust 2010-08.xls,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27179,NaN,NaN,RA7,University Hospitals Bristol NHS Foundation Trust,790.0,217.0,1007.0,Total Delayed Days Trust 2020-02.xls,NaN,NaN,NaN,South West Commissioning Region,NaN,27.241379,7.482759,34.724138
27180,NaN,NaN,RK9,University Hospitals Plymouth NHS Trust,1191.0,0.0,1191.0,Total Delayed Days Trust 2020-02.xls,NaN,NaN,NaN,South West Commissioning Region,NaN,41.068966,0.000000,41.068966
27181,NaN,NaN,RA3,Weston Area Health NHS Trust,272.0,0.0,272.0,Total Delayed Days Trust 2020-02.xls,NaN,NaN,NaN,South West Commissioning Region,NaN,9.379310,0.000000,9.379310
27182,NaN,NaN,AXG,Wiltshire Health And Care,0.0,406.0,406.0,Total Delayed Days Trust 2020-02.xls,NaN,NaN,NaN,South West Commissioning Region,NaN,0.000000,14.000000,14.000000
27183,NaN,NaN,RA4,Yeovil District Hospital NHS Foundation Trust,139.0,0.0,139.0,Total Delayed Days Trust 2020-02.xls,NaN,NaN,NaN,South West Commissioning Region,NaN,4.793103,0.000000,4.793103

# Clean the dataset 

### Remove some columns and the line england

In [ ]:

combined_data = combined_data[combined_data["Code"].notna()]

In [ ]:

cols_to_keep = ["Code", "Name", "Acute", "Non-Acute", "Total", "source file name"]
combined_data = combined_data[cols_to_keep]

### Remove rows where 'Name' is exactly 'England' - is the total for the country

In [5]:
# Assuming your dataframe is called df
# Remove rows where 'Name' is exactly 'England'
combined_data = combined_data[combined_data['Name'] != 'England']

In [6]:
combined_data

,Code,Name,Acute,Non-Acute,Total,source file name
1,5D7,Newcastle PCT,0.0,260.0,260.0,Total Delayed Days Trust 2010-08.xls
2,5D8,North Tyneside PCT,0.0,0.0,0.0,Total Delayed Days Trust 2010-08.xls
3,5KG,South Tyneside PCT,0.0,0.0,0.0,Total Delayed Days Trust 2010-08.xls
4,5KL,Sunderland Teaching PCT,0.0,0.0,0.0,Total Delayed Days Trust 2010-08.xls
5,5KM,Middlesbrough PCT,0.0,0.0,0.0,Total Delayed Days Trust 2010-08.xls
...,...,...,...,...,...,...
27179,RA7,University Hospitals Bristol NHS Foundation Trust,790.0,217.0,1007.0,Total Delayed Days Trust 2020-02.xls
27180,RK9,University Hospitals Plymouth NHS Trust,1191.0,0.0,1191.0,Total Delayed Days Trust 2020-02.xls
27181,RA3,Weston Area Health NHS Trust,272.0,0.0,272.0,Total Delayed Days Trust 2020-02.xls
27182,AXG,Wiltshire Health And Care,0.0,406.0,406.0,Total Delayed Days Trust 2020-02.xls
27183,RA4,Yeovil District Hospital NHS Foundation Trust,139.0,0.0,139.0,Total Delayed Days Trust 2020-02.xls

### Add a column  with month and yearf

In [ ]:
import pandas as pd


combined_data['Year'] = combined_data['source file name'].str.extract(r'(\d{4})')
combined_data['Month'] = combined_data['source file name'].str.extract(r'-(\d{2})')


combined_data['Year-Month'] = combined_data['Year'] + '-' + combined_data['Month']

### Group by 'Organisation Code'

In [8]:
# Group by 'Code' and 'Name' and count occurrences
standard_names = (combined_data.groupby(['Code', 'Name'])
                  .size()
                  .reset_index(name='count')
                  .sort_values(by=['Code', 'count'], ascending=[True, False])
                  .drop_duplicates(subset=['Code'])
                  .set_index('Code')['Name'])

# Create a mapping dictionary
name_mapping = standard_names.to_dict()

# Replace 'Name' column with standardized names
combined_data['Name'] = combined_data['Code'].map(name_mapping)

In [9]:
combined_data

,Code,Name,Acute,Non-Acute,Total,source file name,Year,Month,Year-Month
1,5D7,Newcastle PCT,0.0,260.0,260.0,Total Delayed Days Trust 2010-08.xls,2010,08,2010-08
2,5D8,North Tyneside PCT,0.0,0.0,0.0,Total Delayed Days Trust 2010-08.xls,2010,08,2010-08
3,5KG,South Tyneside PCT,0.0,0.0,0.0,Total Delayed Days Trust 2010-08.xls,2010,08,2010-08
4,5KL,Sunderland Teaching PCT,0.0,0.0,0.0,Total Delayed Days Trust 2010-08.xls,2010,08,2010-08
5,5KM,Middlesbrough PCT,0.0,0.0,0.0,Total Delayed Days Trust 2010-08.xls,2010,08,2010-08
...,...,...,...,...,...,...,...,...,...
27179,RA7,University Hospitals Bristol NHS Foundation Trust,790.0,217.0,1007.0,Total Delayed Days Trust 2020-02.xls,2020,02,2020-02
27180,RK9,Plymouth Hospitals NHS Trust,1191.0,0.0,1191.0,Total Delayed Days Trust 2020-02.xls,2020,02,2020-02
27181,RA3,Weston Area Health NHS Trust,272.0,0.0,272.0,Total Delayed Days Trust 2020-02.xls,2020,02,2020-02
27182,AXG,Wiltshire Health And Care,0.0,406.0,406.0,Total Delayed Days Trust 2020-02.xls,2020,02,2020-02
27183,RA4,Yeovil District Hospital NHS Foundation Trust,139.0,0.0,139.0,Total Delayed Days Trust 2020-02.xls,2020,02,2020-02

In [10]:
# To see how many unique categories there are in each column:

unique_counts = combined_data.nunique()
print(unique_counts)

Code                 359
Name                 359
Acute               2285
Non-Acute           1629
Total               2437
source file name     112
Year                  11
Month                 12
Year-Month           112
dtype: int64

In [11]:
# Show number of missing values per column
missing_per_column = combined_data.isna().sum()
print("Missing values per column:")
print(missing_per_column)

Missing values per column:
Code                0
Name                0
Acute               0
Non-Acute           0
Total               0
source file name    0
Year                0
Month               0
Year-Month          0
dtype: int64

### Convert to numeric some variables

In [13]:
# List of columns where you want to convert to numeric
columns_to_convert_numeric = [
    'Acute',
    'Non-Acute',
    'Total'
]

# Optionally, you might want to convert them to numeric (if they are not already)
combined_data[columns_to_convert_numeric] = combined_data[columns_to_convert_numeric].apply(pd.to_numeric, errors='coerce')

### Change the name of some variables

In [14]:
combined_data = combined_data.rename(columns={
    'Code':'Org Code',
    'Name':'Organisation Name',
    'Acute': 'Delayed Transfer of Care Days Acute',
    'Non-Acute': 'Delayed Transfer of Care Days Non-Acute',
    'Total': 'Delayed Transfer of Care Days Total'
})

### Reorder the columns in-place

In [15]:
combined_data = combined_data[
    [
        "Org Code",
        "Organisation Name",
        "Delayed Transfer of Care Days Acute",
        "Delayed Transfer of Care Days Non-Acute",
        "Delayed Transfer of Care Days Total",
        "Year",
        "Month",
        "Year-Month",
        "source file name"
    ]
]

In [16]:
combined_data.to_excel("delayed_transfers_of_care_2010_2020_combined_data.xlsx", index=False)